{% extends 'base.html.twig' %}

{% block title %}Edit Scientist{% endblock %}

{% block body %}
    <h1>Edit Scientist</h1>

    {{ include('scientist/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_scientist_index') }}">back to list</a>

    {{ include('scientist/_delete_form.html.twig') }}
{% endblock %}
